* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, serif;
}

@font-face {
    font-family: GotFont;
    src: url('game-of-thrones font/Game of Thrones.ttf') format('truetype');
}

html {
    height: 100%;
    font-size: 1vw;
}

body {
    height: 100%;
}

.container {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    min-width: 1024px;
}

.stark_emblem {
    background: url('images/maxresdefault.jpg') no-repeat center;
    background-size: auto 100%;
    flex-basis: 50%;
}

.form-part {
    background-image: url('images/darknoise.png');
    flex-basis: 50%;
    padding: 5% 10% 0;
    display: flex;
    flex-direction: column;
}

.form-part__title {
    text-align: center;
    color: #d3bb89;
    font-size: 1.8rem;
    font-family: GotFont, serif;
}

.form-part__greeting {
    border-left: 3px solid #d3bb89;
    font-family: 'Open Sans', sans-serif;
    color: #fef8eb;
    padding-left: 10px;
    font-size: 1rem;
    margin-top: 10%;
}

.form-part__form {
    display: flex;
    flex-direction: column;
}

.form-part__label {
    color: #d3bb89;
    font-family: 'EB Garamond', serif;
    font-size: 1.4rem;
    margin-top: 10%;
}

.form-part__username {
    color: #fef8eb;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.7rem;
    font-weight: bold;
}

.form-part__input {
    padding: 2% 0;
    background: 0;
    border: 0;
    border-bottom: 3px solid #d3bb89;
    font-family: 'Open Sans', sans-serif;
    color: #fef8eb;
    font-size: 1.2rem;
    min-height: 10%;
}

input::placeholder {
    color: #999;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
}

option {
    background-color: #202020;
}

.form-part__textArea {
    padding: 3% 0;
    min-height: 20%;
    background: none;
    border: none;
    border-bottom: 3px solid #d3bb89;
    font-family: 'Open Sans', sans-serif;
    color: #fef8eb;
    font-size: 1.2rem;
    resize: none;
}

.form-part__submit {
    background-color: #c19a49;
    color: #fef8eb;
    font-size: 1.3rem;
    margin-top: 10%;
    min-height: 10%;
    cursor: pointer;
    border: none;
}

.form-part__checkbox {
    margin-top: 5%;
}

.form-part__checkbox input {
    display: none;
    position: absolute;
}

input[type="checkbox"]:checked + label,
input[type="checkbox"]:not(:checked) + label {
    display: inline-block;
    position: relative;
    padding-left: 9%;
    cursor: pointer;
    color: #d3bb89;
    font-family: 'EB Garamond', serif;
    font-size: 1.3rem;
}

input[type="checkbox"]:checked + label:before,
input[type="checkbox"]:not(:checked) + label:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 15%;
    height: 95%;
    border: 1px solid #d3bb89;
    background-color: #d3bb89;
    border-radius: 2px;
}

input[type="checkbox"]:checked + label:after,
input[type="checkbox"]:not(:checked) + label:after {
    content: "✓";
    position: absolute;
    left: 3%;
    bottom: 3%;
    color: #fef8eb;
}

input[type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
}

input[type="checkbox"]:checked + label:after {
    opacity: 1;
}